
<div class="container mx-auto">
<nav  class="flex flex-row bg-slate-300 h-auto p-5">
    <div class="basis-[30%]">
    <h1>Datasource</h1></div>
    <ul class="list-none inline-block basis-[70%] text-right h-auto ">
      <li class="inline-block from-neutral-800  me-2 underline  hover:text-red-500 h-auto "><a routerLink="/first-component" routerLinkActive="active" ariaCurrentWhenActive="page">Datasource</a></li>
      <li class="inline-block me-2 underline h-auto hover:text-red-500 "><a routerLink="/second-component" routerLinkActive="active" ariaCurrentWhenActive="page">About Me</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
  </div>