<p class="p-4 text-center leading-8 text-slate-400">Experienced Software Engineer with a robust foundation in Fullstack
Javascript/Java web application development, proficient in Frontend frameworks
like React and Angular, and Backend frameworks including Express and
MongoDB. Skilled in Java programming with relational databases, demonstrating
reliability, trustworthiness, numeracy, meticulousness, and an insatiable intellectual
curiosity. Possessing a solid understanding of team dynamics within organisational
settings, adept at working both independently and collaboratively. Seeking
opportunities to leverage expertise and contribute effectively towards innovative
software solutions.</p>

<img src="https://res.cloudinary.com/dffbsiy8t/image/upload/v1693206062/Asim_Ghimire_Signature_i13baw.jpg"/>
